@{
    ViewData["Title"] = "About";
}
<h2>ASP MVC wymagania</h2>
<h3>Aplikacja realizująca CRUD</h3>
<h4>Sugerowana ocena: 88%</h4>
<h5>Zwolnienie od 76% :) :) :)</h5>
<br/>
<p>
    <b>Modele</b>: 35% <br/>
    Sugerowane: 35% <br/>
    <ul>
        <li><font color="green">atrybuty dotyczące ograniczeń danych (własne walidatory): 15%</font></li>
            Są, 3. Dotyczący daty założenia firmy, ilości graczy oraz ceny nowej gry. <br/>
            Sugerowane: 15%
        <li><font color="green">atrybuty dotyczące widoków: 10%</font></li>
            Wcześniejsze wyjaśnienia, opcje i pytania do innych:
                <ul><li><font color="green">Walidacja na wielu polach jednocześnie</font></li></ul>
                Sugerowane: 10%
        </li>
        <li><font color="green">minimum 2 tabele z relacją jeden-do-wiele: 10%</font></li>
            Sugerowane: 10%
    </ul>
</p>

<p>
    <b>Kontrolery</b>: 30% <br />
    Sugerowane: 25% <br />
    <ul>
        <li><font color="green">powiązanie uprawnień zalogowanych userów z kontrolerami (atrybuty wykorzystujące role): 10%</font></li>
            Sugerowane: 10%
        <li><font color="green">logowanie i przynależność do ról: 10%</font></li>
            Sugerowane: 10%
        <li><font color="orange">LINQ: 10%</font></li>
            Poruszane w tutorialach: wyszukiwanie, sortowanie <br/>
            Innym osobom uznane <br/>
            Sugerowane: 5%
    </ul>
</p>
    
<p>
    <b>Widoki</b>: 35% <br />
    Sugerowane: 28% <br />
    <ul>
        <li><font color="green">widoki pisane w Razor + przekazywanie danych do widoku: 7%</font></li>
            Funkcjonalność wbudowana <br/>
            Zadano pytanie, czy szukanie nadaje się do realizacji punktu, odpowiedź była twierdząca<br/>
            Inne przekazywanie danych do widoku: liczenie ile gier wydał wydawca <br />
            Sugerowane: 7%
        <li><font color="green">umiejętność + przykład ręcznego rozszerzenia widoku: 7%</font></li>
            Rozszerzanie widoku wydawców o wszystkie gry danego wydawcy <br/>
            Sugerowane: 7%
        <li><font color="green">widoki częściowe + komunikacja z widokiem podstawowym: 7%</font></li>
            _HeaderNavBar.cshtml + _UpToDateCommentBar.cshtml <br/>
            Sugerowane: 7%
        <li><font color="green">zastosowanie podstawowych helperów + definicja własnych: 7%</font></li>
            <font color="green">Zastosowanie podstawowych helperów wbudowanych,</font> przy użyciu widoków częściowych <br/>
            <font color="green">Definicja własnych</font>  - Promocja na grę<br/>
            Sugerowane: 7%
        <li><font color="red">zastosowanie layoutów: 7%</font></li>
            Sugerowane: 0%
</ul>
</p>

<p>
    <b>Extra</b>: 15% <br />
    Sugerowane: 0% <br />
    <ul>
        <li><font color="red">modyfikacja routingu RESTowego: 5%</font></li>
        Sugerowane: 0%
        <li><font color="red">zarządzanie stanem aplikacji: 5%</font></li>
        Sugerowane: 0%
        <li><font color="red">umieszczenie strony na Azure: 5%</font></li>
        Sugerowane: 0%
    </ul>
</p>

