@{
    ViewData["Title"] = "Details";
}
<h2>@ViewData["Title"]</h2>

<address>
    Monika Barzowska<br />
    238143<br />
    3I TE1
</address>

<address>
    <strong>Support:</strong> <email mail-to="barzowskam"></email> <br />
</address>
