@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Application for browsing the board games rental resources</h2>

    <img src="~/images/games-collection.jpg"
         asp-append-version="true" />
</div>
