<div class="container">
   <p>
       Please note that any information included in our database are always current and up-to-date. <br/>
        <font color="grey" size="1">This comment section was generated with usage of shared _UpToDateCommentBar partial view</font>
    </p>
</div>